html {
  font-size: 10px;
}

body {
  margin:0 auto;
  background-image:url('../heartbackground.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

#container {
  height: auto;
  width:100%;
  text-align: center;
  font-family: helvetica-light;
}

#header {
  font-family: Impact;
  font-size: 3em;
}

#text-to-type {
  position:relative;
  font-size: 2em;
  width:65%;
  margin: 0 auto;
  color: whitesmoke;
}

#prompt-container {
  width: 80%;
  background-color: rgba(138,43,226,0.63);
  height: 20em;
  padding-top: 1%;
  margin: 0 auto;
  border-radius: 1em;
}

#kids {
  position:relative;
  width:100%;
  margin-top: 5em;
}

#boy {
  position:absolute;
  padding-top: 3.75em;
  padding-left:3.125em;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  z-index: 1;
}

#gurl-image {
  position:relative;
  padding-top:3.75em;
  padding-left:22em;
  text-align: left;
}

td {
  width:4.375em;
}

#text-box {
  position:relative;
  font-size: 3.125em;
}

#text {
  position:relative;
  width:50%;
  font-size: 2em;
  margin: 0 auto;
  display: none;
}

#typing-zone {
  text-align: center;
  font-size: .45em;
  padding: .3125em;
  width: 30%;
  margin-bottom: 1em;
  height: .45em;
}

#timer {
  font-size: 1.5em;
  font-weight: bold;
  width:25%;
  margin: 0 auto;
  padding-bottom: 1em;
}

.boxed-highlight {
  background-color:rgba(127,255,212,0.5);
  border: 1px solid black;
}

.highlight {
  background-color: rgba(0,0,0,0.55);
}

.hidden {
  display:none;
}